<!doctype html>

<html ng-app="MainApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mínimo MEAN</title>
    <!-- Cargamos bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

</head>
<body>
<div class="container" ng-controller="studentController">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Nº de Estudiantes: <span class="label label-success">{{ students.length }}</span></h1>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <table class="table table-striped">
                <tr class="info">
                    <td>Nombre</td>
                    <td>Direccion</td>
                    <td>Fijo</td>
                    <td>Movil</td>
                </tr>
                <tr ng-repeat="student in students" ng-click="selectStudent(student)">
                    <td>{{ student.nombre }}</td>
                    <td>{{ student.direccion }}</td>
                    <td>{{ student.telefono.fijo }}</td>
                    <td>{{ student.telefono.movil }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4 col-sm-offset-1 text-center">
            <form name="myForm">
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="newStudent.nombre" required>
                    <br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Direccion" ng-model="newStudent.direccion" required>
                    <br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Fijo" ng-model="newStudent.telefono.fijo" required>
                    <br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Mobil" ng-model="newStudent.telefono.movil" required>
                </div>

                <!-- Acciones que podemos realizar en el formulario -->
                <button type="submit" class="btn btn-success btn-lg" ng-click="registrarStudent()" ng-disabled="myForm.$invalid">Registrar</button>
                <button type="submit" class="btn btn-warning btn-lg" ng-click="modificarStudent(newStudent)" ng-disabled="!newStudent.nombre || !newStudent.direccion || !newStudent.telefono.fijo || !newStudent.telefono.movil || !selected">Modificar</button>
                <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarStudent(newStudent)" ng-disabled="!newStudent.nombre || !newStudent.direccion || !newStudent.telefono.fijo || !newStudent.telefono.movil || !selected">Borrar</button>
            </form>
        </div>
    </div>
</div>
<div class="container" ng-controller="subjectController">

    <div class="jumbotron text-center" >
        <h1>Nº de Asignaturas: <span class="label label-success">{{ subjects.length }}</span></h1>
    </div>

    <div class="row">

            <table class="table table-striped">
                <tr class="info">
                    <td>Nombre</td>
                    <td>Alumno</td>
                    <td>Periodo</td>
                </tr>
                <tr ng-repeat="subject in subjects" ng-click="selectSubject(subject)">
                    <td>{{ subject.nombre }}</td>
                    <td>{{ subject.alumno }}</td>
                    <td>{{ subject.when }}</td>
                </tr>
            </table>
        <label>Filtrar por alumno:</label> <input type="text" class="form-control input-lg text-center" placeholder="Alumno" ng-model="newSubject.alumno">
        <button type="submit" class="btn btn-success btn-lg" ng-click="filterSubject()">Filtrar</button>
        <br>
        <label>Filtrar por periodo:</label> <input type="text" class="form-control input-lg text-center" placeholder="Periodo" ng-model="newSubject.when">
        <button type="submit" class="btn btn-success btn-lg" ng-click="filterSubject2()">Filtrar</button>
    </div>
        <div class="col-sm-4 col-sm-offset-1 text-center">

            <form name="miForm">
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="Asignatura" ng-model="newSubject.nombre" required>
                    <br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Alumno" ng-model="newSubject.alumno" required>
                    <br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Periodo" ng-model="newSubject.when" required>
                </div>

                <!-- Acciones que podemos realizar en el formulario -->
                <button type="submit" class="btn btn-success btn-lg" ng-click="registrarSubject()" ng-disabled="miForm.$invalid">Registrar</button>
                <button type="submit" class="btn btn-warning btn-lg" ng-click="modificarSubject(newSubject)" ng-disabled="!newSubject.nombre || !newSubject.alumno || !selected">Modificar</button>
                <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarSubject(newSubject)" ng-disabled="!newSubject.nombre || !newSubject.alumno || !selected">Borrar</button>
            </form>
        </div>
    </div>
</div>
</body>
<!-- Cargamos angular -->
<script src = "//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" ></script>
<!-- Cargamos el javascript de angular -->
<script src="core_student.js"></script>
<script src="core_subject.js"></script>
</html>
